


body {
	background: $desktop-bg;
}
//img{
	//max-width: 90%;
	//min-width: 90%;
	//float:none;
//}
body,h1,nav,section {
	@include box();
}


h1{
	@include span(6);
	padding-left: 20px;
}
nav{
	@include span(6 last);
	//padding-right: 100px;
	padding-top:50px;
		ul{list-style-type: none;
    	margin: 0;
   		padding: 0;
    	overflow: hidden;
    	padding-left: 60px;


		}
			li{
				padding-right: 10px;
				padding-left: 10px;
				float: left;
			}
}

.image1{
	img{
	@include span(12);
	max-width: 100%;
	min-width: 100%;
	float:none;}
}
.textbox{
	margin-top: 20px;
	@include span(6);
}
.smallerimage{
	margin-top: 20px;
	img{
	@include span(6);
	max-width: 40%;
	min-width: 40%;
	float:right;}
	
}
footer{
	@include span(12);
	text-align: center;
	padding-top: 40px;
}

@include susy-breakpoint($large) {
	body {
		background:$large-bg;
	}//body
}//large breakpoint

@include susy-breakpoint($medium) {
	body {
		background:$medium-bg;
		}//body
	main {
    	@include span(12);
    }//main
    aside {
    	@include span(6 last);
    }//aside
	img{

	}
}//medium breakpoint

@include susy-breakpoint($small) {
	body {
		background:$small-bg;
		}//body
	main {
    	@include span(12);
    }//main
   // aside {
    //	@include span(12);
    //}//aside
	
}//small breakpoint

h1{
	font-family: 'Poiret One', cursive;
}




/*li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}*/

