


body {
	background: $desktop-bg;
}

body,h1,nav {
	@include box();
}


h1{
	@include span(6);
}
nav{
	@include span(6 last);
	padding-right: 100px;
	padding-top:50px;
		ul{list-style-type: none;
    	margin: 0;
   		padding: 0;
    	overflow: hidden;

		}
			li{
				padding-right: 10px;
				padding-left: 10px;
				float: left;
			}
}

@include susy-breakpoint($large) {
	body {
		background:$large-bg;
	}//body
}//large breakpoint

@include susy-breakpoint($medium) {
	body {
		background:$medium-bg;
		}//body
	main {
    	@include span(12);
    }//main
    aside {
    	@include span(6 last);
    }//aside
	
}//medium breakpoint

@include susy-breakpoint($small) {
	body {
		background:$small-bg;
		}//body
	main {
    	@include span(12);
    }//main
   // aside {
    //	@include span(12);
    //}//aside
	
}//small breakpoint

h1{
	font-family: 'Poiret One', cursive;
}




/*li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}*/

